
<div class="container-fuild border">
    <div class="row">
        <div class="col">
            <center>
                <h1>Centre de partage de document</h1>
            </center>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <div class="alert alert-success" role="alert"> Vous avez recherché tous les documents existants.</div>
        </div>
        <div class="col-2">
            <button class="btn btn-outline-success my-2 my-sm-0 float-left" type="button">Importer</button>
        </div>
    </div>

    <div class="row">
        <button class="btn btn-outline-success my-2 my-sm-0" type="button">Importer</button>
    </div>

</div>