
<html>
  <body>
<div class="row">
<nav id="main-navbar" class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">

  <a class="navbar-brand" href="./index.html">EHTP Docs</a>
  <!-- Links -->
  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="./docs.html">Documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Résumés</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Questions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Encyclopédie</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Blog</a>
      </li>
      <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Connexion
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Pseudo ou email">
      <input class="form-control mr-sm-2" type="search" placeholder="Mot de passe">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connexion</button>
    </form>
    </div>
 </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">A propos</a>
      </li>
  </ul> 

<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Rechercher">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
</form>


</nav>
</div>
</body>
</html>